{% extends 'masterpage.html' %}
{% block content %}
    <div id="app">
        <v-app :theme="theme">
            <v-app-bar>
                <v-app-bar-title>Workshop</v-app-bar-title>
                <v-spacer></v-spacer>

                <v-btn @click="this.$defaultWindow.location.href='{% url 'index' %}'">
                    대회안내
                </v-btn>
                <v-btn @click="this.$defaultWindow.location.href='{% url 'leader' %}'">
                    리더보드
                </v-btn>
                <v-btn @click="this.$defaultWindow.location.href='{% url 'team' %}'">
                    팀
                </v-btn>
                <v-btn @click="this.$defaultWindow.location.href='{% url 'submit' %}'">
                    제출
                </v-btn>
                <v-btn icon size="small" class="ml-2" @click="this.$defaultWindow.location.href='{% url 'logout' %}'">
                    <v-avatar color="brown">
                        {{ user.last_name |slice:":2" }}
                    </v-avatar>
                </v-btn>

{#                <v-btn#}
{#                :icon="theme === 'light' ? 'mdi-weather-sunny' : 'mdi-weather-night'"#}
{#                @click="onClick"></v-btn>#}
            </v-app-bar>

            <v-main class="d-flex flex-column align-center ">
                <div class="main-con pa-5 w-100">
                    {% block index_content %}
                    <v-card>
                        <v-tabs
                        v-model="tab"
                        bg-color="primary"
                        >
                            <v-tab value="one">대회설명</v-tab>
                            <v-tab value="two">데이터</v-tab>
                        </v-tabs>

                        <v-card-text>
                            <v-window v-model="tab">
                            <v-window-item value="one">
                                <article class="markdown-body">
                                    {% autoescape off %}
                                    {{ index_cont }}
                                    {% endautoescape %}
                                </article>
                            </v-window-item>

                            <v-window-item value="two">
                                dddd
                            </v-window-item>
                            </v-window>
                        </v-card-text>
                    </v-card>
                    {% endblock %}
                </div>
            </v-main>
        </v-app>
    </div>

    <script>
        const { createApp } = Vue
        const { createVuetify } = Vuetify

        const vuetify = createVuetify()

        const app = createApp({
            delimiters: ['[[', ']]'],
            data() {
                return {
                    message: 'Hello Vue!',
                    theme: 'light',
                    tab: null,
                }
            },
            methods: {
                onClick () {
                    this.theme = this.theme === 'light' ? 'dark' : 'light'
                }
            },
        }).use(vuetify).use(VueShowdownPlugin)

        app.config.globalProperties.$defaultWindow = window

        app.mount('#app')
    </script>

    <style>
    a {
        text-decoration: none;
        color: black;
    }

    .main-con {
        max-width: 800px;
    }
    </style>
{% endblock %}