{% extends 'index.html' %}
{% block index_content %}
    <v-card variant="outlined">
        <v-card-title>리더보드</v-card-title>
        <leaderboard></leaderboard>
    </v-card>
    <div class="text-center">
        <v-container>
            <v-row justify="center">
                <v-col cols="8">
                    <v-container class="max-width">
                        <v-pagination
                            :model-value="{{ now_page }}"
                            :length="{{ total_page }}"
                            size="small"
                            @update:model-value="onTableClicked"
                        ></v-pagination>
                    </v-container>
                </v-col>
            </v-row>
        </v-container>
    </div>
{% endblock %}
{% block index_js %}
    app.component('leaderboard', {
          template: `<v-table>
            <thead>
                <tr>
                <th class="text-center">
                순위
                </th>
                <th class="text-center">
                팀
                </th>
                <th class="text-center">
                점수
                </th>
                <th class="text-center">
                제출 시각
                </th>
                <th class="text-center">
                제출 횟수
                </th>
                </tr>
            </thead>
            <tbody>
                {% for u in submit_log %}
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td class="text-center">{{ u.team_name }}</td>
                        <td class="text-center">{{ u.score }}</td>
                        <td class="text-center">{{ u.create_time }}</td>
                        <td class="text-center">{{ u.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </v-table>`,
        })
{% endblock %}
{% block index_methods %}
onTableClicked(next) {
    this.$defaultWindow.location.href='{% url 'leader' %}?page=' + next
}
{% endblock %}