{% extends 'masterpage.html' %}
{% block content %}
    <div id="app">
        <v-app :theme="theme">
            <v-app-bar>
                <v-app-bar-title>Workshop</v-app-bar-title>
              <v-spacer></v-spacer>

{#              <v-btn#}
{#                :icon="theme === 'light' ? 'mdi-weather-sunny' : 'mdi-weather-night'"#}
{#                @click="onClick"></v-btn>#}
            </v-app-bar>

            <v-main class="pl-6 pr-6 pb-6 mt-6 d-flex flex-column justify-center align-center">
                <v-card
                max-width="400" min-width="150" class="w-50" variant="outlined">
                    <v-card-item>
                        <div class="d-flex flex-column justify-center align-center">
                            <div class="text-h6">로그인</div>
                            <div class="w-100 mt-2">
                                <v-form method="post" action="{% url 'form_login' %}">
                                    {% csrf_token %}
                                  <v-text-field
                                    v-model="text_id"
                                    label="id"
                                    :rules="firstNameRules"
                                    name="text_id"
                                  ></v-text-field>

                                  <v-text-field
                                    v-model="text_password"
                                    label="password"
{#                                    :rules="lastNameRules"#}
                                    name="text_password"
                                    type="password"
                                  ></v-text-field>

                                  <v-btn type="submit" block class="mt-2">로그인</v-btn>
                                </v-form>
                            </div>
                        </div>
                    </v-card-item>
                </v-card>
                {% if message %}<v-snackbar v-model="snackbar" color="red">{{ message }}</v-snackbar>{% endif %}
            </v-main>
        </v-app>
    </div>

    <script>
        const { createApp } = Vue
        const { createVuetify } = Vuetify

        const vuetify = createVuetify()

        createApp({
            delimiters: ['[[', ']]'],
            data() {
              return {
                message: 'Hello Vue!',
                theme: 'light',
                  text_id: '',
                  firstNameRules: [
                    value => {
                      if (value?.length > 3) return true
                      return '아이디는 세 글자 이상입니다.'
                    },
                  ],
                  text_password: '',
                  lastNameRules: [
                    value => {
                      if (/[^0-9]/.test(value)) return true

                      return 'Last name can not contain digits.'
                    },
                  ],
                  snackbar: false,
              }
            },
            methods: {
                onClick () {
                    this.theme = this.theme === 'light' ? 'dark' : 'light'
                }
            },
            mounted() {
                this.snackbar = true
            }
        }).use(vuetify).mount('#app')
    </script>
{% endblock %}