{% extends 'masterpage.html' %}
{% block content %}
    <div id="app">
        <v-app :theme="theme">
            <v-app-bar>
                <v-app-bar-title>Workshop</v-app-bar-title>
              <v-spacer></v-spacer>

{#              <v-btn#}
{#                :icon="theme === 'light' ? 'mdi-weather-sunny' : 'mdi-weather-night'"#}
{#                @click="onClick"></v-btn>#}
            </v-app-bar>

            <v-main class="pl-6 pr-6 pb-6 mt-6 d-flex flex-column justify-center align-center">
                <v-card
                max-width="400" min-width="150" class="w-50" variant="outlined">
                    <v-card-item>
                        <div class="d-flex flex-column justify-center align-center">
                            <div class="text-h6">비밀번호 변경</div>
                            <div class="w-100 mt-2">
                                <v-form method="post" action="{% url 'form_password_change' %}">
                                    {% csrf_token %}
                                  <v-text-field
                                    v-model="text_id"
                                    label="현재 패스워드"
                                    :rules="pass_rule"
                                    name="text_password"
                                    type="password"
                                  ></v-text-field>
                                  <v-text-field
                                    v-model="text_password"
                                    label="새로운 패스워드"
                                    :rules="pass_rule"
                                    name="new_password"
                                    type="password"
                                  ></v-text-field>
                                  <v-text-field
                                    v-model="text_password_check"
                                    label="새로운 패스워드 재입력"
                                    :rules="pass_rule_check"
                                    name="new_password_check"
                                    type="password"
                                  ></v-text-field>

                                  <v-btn type="submit" block class="mt-2">비밀번호 변경</v-btn>
                                </v-form>
                            </div>
                        </div>
                    </v-card-item>
                </v-card>
                {% if message %}<v-snackbar v-model="snackbar" color="red">{{ message }}</v-snackbar>{% endif %}
            </v-main>
        </v-app>
    </div>

    <script>
        const { createApp } = Vue
        const { createVuetify } = Vuetify

        const vuetify = createVuetify()

        createApp({
            delimiters: ['[[', ']]'],
            data() {
              return {
                message: 'Hello Vue!',
                theme: 'light',
                  text_id: '',
                  text_password: '',
                  text_password_check: '',
                  pass_rule: [
                    value => {
                      if (value.length > 0) return true

                      return '비밀번호를 입력해주세요.'
                    },
                  ],
                  pass_rule_check: [
                    value => {
                      if (this.text_password.length == 0) return '비밀번호를 입력해주세요.'
                      if (this.text_password !== value) return '새로 입력한 비밀번호와 다릅니다.'
                      return true
                    },
                  ],
                  snackbar: false,
              }
            },
            methods: {
                onClick () {
                    this.theme = this.theme === 'light' ? 'dark' : 'light'
                }
            },
            mounted() {
                this.snackbar = true
            }
        }).use(vuetify).mount('#app')
    </script>
{% endblock %}