{% extends 'index.html' %}
{% block index_content %}
    <v-card variant="outlined">
        <v-card-title>팀원</v-card-title>
        <team-list></team-list>
    </v-card>
    <v-card variant="outlined">
        <v-card-title>제출기록</v-card-title>
        <sub-log></sub-log>
        <v-card-item>
            {{ last_leader }}
            <div class="text-center">
                <v-container>
                    <v-row justify="center">
                        <v-col cols="8">
                            <v-container class="max-width">
                                <v-pagination
                                    :model-value="{{ now_page }}"
                                    :length="{{ total_page }}"
                                    size="small"
                                    @update:model-value="onTableClicked"
                                ></v-pagination>
                            </v-container>
                        </v-col>
                    </v-row>
                </v-container>
            </div>
        </v-card-item>
    </v-card>
    <v-card variant="outlined">
        <v-card-title>제출하기</v-card-title>
        <v-card-item>
            <div class="d-flex flex-column justify-center align-center">
                <div class="w-100 mt-2">
                    <v-form method="post" action="{% url 'form_submit' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                      <v-file-input label="csv 파일" accept=".csv"
                        :rules="file_sub_rule"
                        name="file_data"
                      ></v-file-input>

                      <v-btn type="submit" block class="mt-2">제출하기</v-btn>
                    </v-form>
                </div>
            </div>
        </v-card-item>
    </v-card>
{% endblock %}
{% block index_js %}
    app.component('team-list', {
          template: `<v-table>
            <thead>
                <tr>
                <th class="text-center">
                이름
                </th>
                <th class="text-center">
                최근 제출 시각
                </th>
                </tr>
            </thead>
            <tbody>
                {% for u in team_users %}
                    <tr>
                        <td class="text-center">{{ u.name }}</td>
                        <td class="text-center">{{ u.last_submit }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </v-table>`,
        })
    selected = ['red']
    app.component('sub-log', {
          template: `<v-table>
            <thead>
                <tr>
                <th class="text-center">
                번호
                </th>
                <th class="text-center">
                제출자
                </th>
                <th class="text-center">
                파일 이름
                </th>
                <th class="text-center">
                점수
                </th>
                <th class="text-center">
                제출 시각
                </th>
                <th class="text-right">
                리더보드 제출
                </th>
                </tr>
            </thead>
            <tbody>
                {% for s in submit_log %}
                    <tr style="cursor:pointer;"
                        {% if not s.is_selected %}
                            @click="() => {
                                if ($defaultWindow.confirm('{{ s.sub_num }}번 데이터를 리더보드에 제출하시겠습니까? 정확도는 {{ s.score }}입니다.')) {
                                    $defaultWindow.location.href = '{% url 'form_leader' %}?sub_pk={{ s.sub_num }}'
                                }
                            }"
                        {% endif %}>
                        <td class="text-center">{{ s.sub_num }}</td>
                        <td class="text-center">{{ s.submitter }}</td>
                        <td class="text-center">{{ s.file_name }}</td>
                        <td class="text-center">{{ s.score }}</td>
                        <td class="text-center">{{ s.create_time }}</td>
                        <td class="text-right" >
                            <div class="line">
                                <input type="checkbox" class="my-checkbox" {% if s.is_selected %}checked{% endif %} disabled="true" />
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </v-table>`
        })
{% endblock %}
{% block index_methods %}
onTableClicked(next) {
    this.$defaultWindow.location.href='{% url 'submit' %}?page=' + next
}
{% endblock %}
{% block snakbar %}
    {% if message %}<v-snackbar v-model="snackbar" color="red">{{ message }}</v-snackbar>{% endif %}
{% endblock %}